aiohttp
pynacl
ccxt
eth-hash
cairo-lang
grvt-pysdk
lighter-sdk @ git+https://github.com/elliottech/lighter-python.git ; sys_platform != "win32"
# 윈도우: 버전 고정
lighter-sdk @ git+https://github.com/elliottech/lighter-python.git@c9b8de6fd6864ede0fd7fb61d85ffb3614d178c9 ; sys_platform == "win32"
